# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Anaconda
*.conda

# VS Code
.vscode/

# Large/raw data
data/raw/
*.csv
*.xlsx
*.xls

# Model files
*.joblib
*.pkl

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db